apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-depl
spec: # Replicaset spec
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec: # Pod spec
      containers:
        - name: redis
          image: redis

---
apiVersion: v1
kind: Service
metadata:
  name: redis-srv
spec:
  selector:
    app: redis
  ports:
    - name: redis-port
      protocol: TCP
      port: 6379 # service port
      targetPort: 6379 # app port

